html
    head
        body
            main
                section
                    h1.c-branding
                        span.c-branding__name Aurelie Moreels
                        span.c-branding__instrument Soprano colorature
                    img(src="/img/img_0373_2-9a84b0e0e76a1b20b183b56d36f65eed.jpg" alt="img_0373_2-9a84b0e0e76a1b20b183b56d36f65eed")
                section
                    - hello = "hello \n world";
                    p!=hello
                    ul
                        each bio in biography
                            li
                                if bio.title
                                    h2!=bio.title
                                p!=bio.text