$mq-breakpoints: (
  mobile: 320px,
  tablet: 740px,
  desktop: 980px,
  wide: 1300px,
);

@import "../../../node_modules/sass-mq/mq";

@import "./fonts/source-sans-pro";
@import "./fonts/source-serif-pro";

$color-primary: #537c06;

body,
html {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  font-family: "Source Sans Pro", Helvetica, sans-serif;
  font-size: 20px;
}

.c-branding {
  font-size: 3rem;
  font-weight: 400;
  line-height: 1;
  margin: 0 0 40px 0;

  &__link {
    text-decoration: none;
    color: inherit;
  }

  &__name {
    color: $color-primary;
    display: block;
  }
}

.l-hero {
  height: 100%;
  padding: 2rem;
  box-sizing: border-box;

  @include mq($from: tablet) {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 50% auto 1fr;
    gap: 16px;
  }

  &__brand {
    grid-column: 1 / 4;
    grid-row: 2 / 3;
    @include mq($until: tablet) {
      padding: 2rem 0;
    }
  }

  &__image {
    overflow: hidden;
    grid-column: 4 / 7;
    grid-row: 1 / 4;
    background-image: url("/img/home/IMG_0471.jpeg");
    background-size: cover;
    background-position: bottom;
    min-height: 20rem;
  }
  &__copyright {
    grid-column: 7 / 13;
    grid-row: 3 / 4;
    align-self: end;
    justify-self: end;
    @include mq($until: tablet) {
      padding: 2rem 0;
    }
  }
}
