<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <title>Aurélie Moreels | Accueil</title>
    <meta name="description" content="Aurélie Moreels soprano colorature">
    <meta name="keywords"
          content="Aurélie Moreels,aurelie,aurélie,moreels,soprano,coloratura,colorature,classical,music,classical music">
    <link rel="icon" type="image/png" href="https://aureliemoreels.be/favicon.gif">
    <meta property="og:title" content="Aurélie Moreels | Accueil">
    <meta property="og:type" content="website">
    <meta property="og:locale" content="be_FR">
    <meta property="og:description" content="Aurélie Moreels - Soprano colorature">
    <meta property="og:url" content="https://aureliemoreels.be">

    <link href="/css/index.min.css" rel="stylesheet" type="text/css">
</head>
<body class="js-nav-hidden">
<div class="o-page u-position-relative">
    {% include "partials/header.njk" %}
</div>
{% block content %}{% endblock %}

<!--
<footer class="c-footer" role="contentinfo">
    <div class="">
        <p>© 2020 Aurélie Moreels</p>
    </div>
</footer>
-->

<script src="/js/main.bundle.js"></script>

</body>
</html>