---
permalink: /contact.html
slug: 'contact'
---

{% extends "layouts/base.njk" %}
{% block content %}
    <main class="main page-wrapper page-contact o-page u-position-relative" role="main">
        <div class="c-contact">
            <h2 class="c-page-title">
                Contact </h2>
            <div class="o-grid u-black-headings">
                <div class="o-grid__unit o-grid__unit--medium-6of12">
                    <h3>Mes coordonnées</h3>
                    <p>Aurélie Moreels<br>
                        tel: 0495 20 81 39<br>
                        au.moreels@cmail.com</p>
                </div><!--
                -->
                <div class="o-grid__unit o-grid__unit--medium-6of12">
                    <h3>S'inscrire à ma newsletter</h3>
                    <div id="mc_embed_signup">
                        <form action="//aureliemoreels.us11.list-manage.com/subscribe/post?u=c9eb80f20ca56d7bc6a06a0dc&amp;id=744423fb24"
                              method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form"
                              class="validate" target="_blank" novalidate="novalidate">
                            <div id="mc_embed_signup_scroll">
                                <div id="mce-responses" class="clear">
                                    <div class="response o-box" id="mce-error-response" style="display:none"></div>
                                    <div class="response o-box" id="mce-success-response o-box"
                                         style="display:none"></div>
                                </div>

                                <p class="indicates-required o-form-required"><span class="asterisk">*</span> Champs
                                    requis</p>
                                <div class="o-field-group">
                                    <label class="o-field-group__label" for="mce-EMAIL">Adresse Email <span
                                                class="asterisk">*</span>
                                    </label>
                                    <input type="email" name="EMAIL" class="required email o-field-group__input"
                                           id="mce-EMAIL" aria-required="true">
                                </div>
                                <div class="o-field-group">
                                    <label class="o-field-group__label" for="mce-FNAME">Prénom </label>
                                    <input type="text" name="FNAME" class="o-field-group__input" id="mce-FNAME">
                                </div>
                                <div class="o-field-group">
                                    <label class="o-field-group__label" for="mce-LNAME">Nom </label>
                                    <input type="text" name="LNAME" class="o-field-group__input" id="mce-LNAME">
                                </div>
                                <p>
                                    <a href="http://us11.campaign-archive2.com/home/?u=c9eb80f20ca56d7bc6a06a0dc&amp;id=744423fb24"
                                       title="View previous campaigns">Voir les newsletters précédentes.</a></p>
                                <!-- real people should not fill this in and expect good things - do not remove this or risk class="o-field-group__label" form bot signups-->
                                <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text"
                                                                                                          name="b_c9eb80f20ca56d7bc6a06a0dc_744423fb24"
                                                                                                          tabindex="-1">
                                </div>
                                <div class="clear">
                                    <input type="submit" value="S'inscrire" name="subscribe" id="mc-embedded-subscribe"
                                           class="button o-btn">
                                </div>
                            </div>
                        </form>
                    </div>

                </div>
            </div>
        </div>

        <div class="c-contact-image c-contact-image--rightbottomimage">
            <img src="/imgimg_0510-1ce31556f4c3cea6390606fd0edfcf40-3bfe61212af19a1d78.jpg"
                 alt="img_0510-1ce31556f4c3cea6390606fd0edfcf40-3bfe61212af19a1d784d57e40542afd1"></div>
        <div class="c-contact-image c-contact-image--lefttopimage">
            <img src="/imgb5224f2a-5696-11e3-a612-8b57154e3d54_original-b228d65ba22142.jpg"
                 alt="b5224f2a-5696-11e3-a612-8b57154e3d54_original-b228d65ba221428674a7d31b76e5f199"></div>

    </main>
{% endblock %}