---
permalink: "/"
slug: 'home'
---


{% extends "layouts/base.njk" %}

{% block content %}
    <main class="o-page" role="main">
        <article class="u-position-relative">

            <h1 class="c-branding c-branding--home">
                <a class="c-branding__link" href="/">
                    <span class="c-branding__name c-branding__block c-branding__name--home">
                        <span class="c-branding__part">Aurélie</span>
                        <span class="c-branding__part">Moreels</span>
                    </span>
                                <span class="c-branding__block c-branding__instrument c-branding__instrument--home">
                        <span>Soprano</span> <span>colorature</span>
                    </span>
                </a>
            </h1>

            <div class="page__cover__image o-shadow">
                <img src="/img/img_0373_2-9a84b0e0e76a1b20b183b56d36f65eed.jpg"
                     alt="img_0373_2-9a84b0e0e76a1b20b183b56d36f65eed"></div>
            <div class="c-intro">
                <h3 class="">Newsletter</h3>
                <p>Si vous souhaitez être tenu au courant de mes actualités. Il vous est possible de vous inscrire à ma
                    newsletter.</p>                    <a href="/contact" class="o-btn">Cliquez
                    ici</a>
            </div>
        </article>
        <aside class="o-grid u-mt">
            <div class="o-grid__unit o-grid__unit--medium-3of12 o-grid__unit--small-6of12 u-mb">
                <a href="http://aureliemoreels.be/agenda"
                   class="o-page-link u-position-relative o-box o-box--flush o-shadow">
                    <img src="/img/12068835_923386217746379_5579790950143750443_o-94fd27e0c9cd4.jpg"
                         alt="12068835_923386217746379_5579790950143750443_o-94fd27e0c9cd40e8d1751e1e8a05a1b1"> <span
                            class="o-box o-box--primary u-contrast o-page-link__title u-pt- u-pb-">Agenda</span>
                </a>
            </div>
            <div class="o-grid__unit o-grid__unit--medium-3of12 o-grid__unit--small-6of12 u-mb">
                <a href="http://aureliemoreels.be/biography"
                   class="o-page-link u-position-relative o-box o-box--flush o-shadow">
                    <img src="/img/ds3_2232-4ce116ff63462ed29d02faa29a36e351.jpg"
                         alt="ds3_2232-4ce116ff63462ed29d02faa29a36e351"> <span
                            class="o-box o-box--primary u-contrast o-page-link__title u-pt- u-pb-">Biographie</span>
                </a>
            </div>
            <div class="o-grid__unit o-grid__unit--medium-3of12 o-grid__unit--small-6of12 u-mb">
                <a href="http://aureliemoreels.be/medias"
                   class="o-page-link u-position-relative o-box o-box--flush o-shadow">
                    <img src="/img/ds3_2497-36a4a8d3288273711c7154e9cfc0ad12.jpg"
                         alt="ds3_2497-36a4a8d3288273711c7154e9cfc0ad12"> <span
                            class="o-box o-box--primary u-contrast o-page-link__title u-pt- u-pb-">Medias</span>
                </a>
            </div>
            <div class="o-grid__unit o-grid__unit--medium-3of12 o-grid__unit--small-6of12 u-mb">
                <a href="http://aureliemoreels.be/contact"
                   class="o-page-link u-position-relative o-box o-box--flush o-shadow">
                    <img src="/img/img_0471-52db02c838c588f78aa97bd4e681a94d.jpg"
                         alt="img_0471-52db02c838c588f78aa97bd4e681a94d"> <span
                            class="o-box o-box--primary u-contrast o-page-link__title u-pt- u-pb-">Contact</span>
                </a>
            </div>
        </aside>
    </main>
{% endblock %}