---
permalink: media.html
slug: media
---

{% extends "layouts/base.njk" %}
{% block content %}
    <main class="main page-wrapper page-medias o-page" role="main">

            <h2 class="c-page-title">
                Medias            </h2>
        <section class="c-medias">
            <div class="page-medias__videos c-media">
                                    <div class="c-youtube media">
                                                    <figure class="video"></figure>                                                    <figure class="video"></figure>                                                    <figure class="video"><iframe src="//youtube.com/embed/GCqVMH-lYLw" webkitallowfullscreen="true" mozallowfullscreen="true" allowfullscreen="true" width="500" height="500" frameborder="0"></iframe></figure>                                            </div>
                            </div>

            <div class="page-medias__audio c-media" style="">
                <iframe scrolling="no" src="Aure%CC%81lie%20Moreels%20|%20Medias_fichiers/a.html" width="500" height="500" frameborder="no"></iframe>
            </div>
        </section>
    </main>
{% endblock %}