.l-biography {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 1fr;
  &__image {
    grid-column-start: 1;
    grid-column-end: 8;
    grid-row-start: 0;
    grid-row-end: 1;
    align-self: center;
  }
  &__content {
    grid-column-start: 7;
    grid-column-end: 13;
    grid-row-start: 0;
    grid-row-end: 1;
    align-self: center;
  }
  &:nth-child(2n) {
    .l-biography {
      &__image {
        grid-column-start: 7;
        grid-column-end: 13;
      }
      &__content {
        grid-column-start: 1;
        grid-column-end: 8;
      }
    }
  }
}
