---
permalink: "/agenda.html"
slug: 'agenda'
---

{% extends "layouts/base.njk" %}
{% block content %}

    <main class="main page-wrapper page-biography o-page" role="main">
        <section class="u-position-relative">
            <h2 class="c-page-title">
                Agenda </h2>
            <img src="/img/12068835_923386217746379_5579790950143750443_o-94fd27e0c9cd4.jpg"
                 alt="12068835_923386217746379_5579790950143750443_o-94fd27e0c9cd40e8d1751e1e8a05a1b1"></section>
        <section class="c-concerts">
            <ul class="c-concert-list">

                <li class="c-concert-list__item">
                    <div class="c-concert u-black-headings" vocab="http://schema.org/" typeof="MusicEvent">


                        <h3 class="c-concert-title">
                            Vivaldi - Gloria, Magnificat </h3>

                        <div class="o-grid"><!--
                                -->
                            <div class="o-grid__unit o-grid__unit--medium-6of12">
                                <div class="c-concert-dates">
                                    <h4>Date(s)</h4>
                                    <div class="o-gr">
                                        <div class="c-concert-date o-grid"><!--
                                                    -->
                                            <div class="c-concert-date__date o-grid__unit o-grid__unit--medium-3of10 o-grid__unit--small-5of10">
                                                <date class="">

                                                    23/02/2019

                                                </date>
                                            </div><!--
                                                    -->
                                            <div class="c-concert-date__date o-grid__unit o-grid__unit--medium-3of10 o-grid__unit--small-5of10">
                                                <span>20:00</span>
                                            </div><!--
                                                    -->
                                            <div class="c-concert-date__date o-grid__unit o-grid__unit--medium-4of10">

                                                Chapelle Protestante -
                                                Bruxelles
                                            </div><!--
                                                --></div>
                                        <div class="c-concert-date o-grid"><!--
                                                    -->
                                            <div class="c-concert-date__date o-grid__unit o-grid__unit--medium-3of10 o-grid__unit--small-5of10">
                                                <date class="">

                                                    24/02/2019

                                                </date>
                                            </div><!--
                                                    -->
                                            <div class="c-concert-date__date o-grid__unit o-grid__unit--medium-3of10 o-grid__unit--small-5of10">
                                                <span>16:00</span>
                                            </div><!--
                                                    -->
                                            <div class="c-concert-date__date o-grid__unit o-grid__unit--medium-4of10">

                                                Eglise Ste Véronique - Liège

                                            </div><!--
                                                --></div>

                                    </div>
                                </div>
                            </div><!--
                                -->
                            <div class="o-grid__unit o-grid__unit--medium-6of12">
                                <div class="c-concert-description">
                                    <h4>Description</h4>
                                    <p>Programme:<br>
                                        Haendel - Laudate Pueri<br>
                                        Vivaldi - Gloria et Magnificat</p>
                                    <p>Aurélie Moreels - Soprano<br>
                                        Julie Vercauteren - Mezzo-Soprano<br>
                                        Philippe Favette - Direction</p>
                                    <p>avec<br>
                                        Le Florilège Musical<br>
                                        Le choeur de Chambre de Liège<br>
                                        L'ensemble vocal Le Chanteau</p></div>
                                <div class="c-concert-information">
                                    <h4>Informations et réservation</h4>
                                    Tarif : 8/20 Euro

                                    Préventes et Réservations POUR LE 23/02:

                                    lechanteau.ottignies@gmail.com

                                    Préventes et Réservations POUR LE 24/02:

                                    www.choeurdeliege.be/reservations
                                </div>
                            </div>
                        </div>
                    </div>
                </li>


                <li class="c-concert-list__item">
                    <div class="c-concert u-black-headings" vocab="http://schema.org/" typeof="MusicEvent">


                        <h3 class="c-concert-title">
                            Requiem de Mozart / Psaume 42 de Mendelssohn </h3>

                        <div class="o-grid"><!--
                                -->
                            <div class="o-grid__unit o-grid__unit--medium-6of12">
                                <div class="c-concert-dates">
                                    <h4>Date(s)</h4>
                                    <div class="o-gr">
                                        <div class="c-concert-date o-grid"><!--
                                                    -->
                                            <div class="c-concert-date__date o-grid__unit o-grid__unit--medium-3of10 o-grid__unit--small-5of10">
                                                <date class="">

                                                    22/03/2019

                                                </date>
                                            </div><!--
                                                    -->
                                            <div class="c-concert-date__date o-grid__unit o-grid__unit--medium-3of10 o-grid__unit--small-5of10">
                                                <span>20:00</span>
                                            </div><!--
                                                    -->
                                            <div class="c-concert-date__date o-grid__unit o-grid__unit--medium-4of10">

                                                Eglise St Michel - Boulevard
                                                St Michel, 24 Bruxelles
                                            </div><!--
                                                --></div>
                                        <div class="c-concert-date o-grid"><!--
                                                    -->
                                            <div class="c-concert-date__date o-grid__unit o-grid__unit--medium-3of10 o-grid__unit--small-5of10">
                                                <date class="">

                                                    23/03/2019

                                                </date>
                                            </div><!--
                                                    -->
                                            <div class="c-concert-date__date o-grid__unit o-grid__unit--medium-3of10 o-grid__unit--small-5of10">
                                                <span>19:00</span>
                                            </div><!--
                                                    -->
                                            <div class="c-concert-date__date o-grid__unit o-grid__unit--medium-4of10">

                                                Eglise St Michel - Boulevard
                                                St Michel, 24 Bruxelles
                                            </div><!--
                                                --></div>

                                    </div>
                                </div>
                            </div><!--
                                -->
                            <div class="o-grid__unit o-grid__unit--medium-6of12">
                                <div class="c-concert-description">
                                    <h4>Description</h4>
                                    <p>Requiem de Mozart<br>
                                        Psaume 42 de Mendelssohn</p>
                                    <p>Camerata vocale - Choeur<br>
                                        Aurélie Moreels - Soprano<br>
                                        Caroline de Mahieu - Mezzo-soprano<br>
                                        Gijs Van der Linden - Tenor<br>
                                        Emmanuel Junk - Basse<br>
                                        Direction - Philippe de Clerck</p></div>
                            </div>
                        </div>
                    </div>
                </li>


                <li class="c-concert-list__item">
                    <div class="c-concert u-black-headings" vocab="http://schema.org/" typeof="MusicEvent">


                        <h3 class="c-concert-title">
                            Stabat Mater de Pergolese </h3>

                        <div class="o-grid"><!--
                                -->
                            <div class="o-grid__unit o-grid__unit--medium-6of12">
                                <div class="c-concert-dates">
                                    <h4>Date(s)</h4>
                                    <div class="o-gr">
                                        <div class="c-concert-date o-grid"><!--
                                                    -->
                                            <div class="c-concert-date__date o-grid__unit o-grid__unit--medium-3of10 o-grid__unit--small-5of10">
                                                <date class="">

                                                    30/03/2019

                                                </date>
                                            </div><!--
                                                    -->
                                            <div class="c-concert-date__date o-grid__unit o-grid__unit--medium-3of10 o-grid__unit--small-5of10">
                                                <span>20:00</span>
                                            </div><!--
                                                    -->
                                            <div class="c-concert-date__date o-grid__unit o-grid__unit--medium-4of10">

                                                Clerlande (Ottignies)

                                            </div><!--
                                                --></div>

                                    </div>
                                </div>
                            </div><!--
                                -->
                            <div class="o-grid__unit o-grid__unit--medium-6of12">
                                <div class="c-concert-description">
                                    <h4>Description</h4>
                                    <p>Stabat Mater de Pergolese</p>
                                    <p>Aurélie Moreels - Soprano<br>
                                        Isabelle Everaerts - Mezzo-soprano</p></div>
                            </div>
                        </div>
                    </div>
                </li>


                <li class="c-concert-list__item">
                    <div class="c-concert u-black-headings" vocab="http://schema.org/" typeof="MusicEvent">


                        <h3 class="c-concert-title">
                            Passion St Matthieu - J.S.Bach </h3>

                        <div class="o-grid"><!--
                                -->
                            <div class="o-grid__unit o-grid__unit--medium-6of12">
                                <div class="c-concert-dates">
                                    <h4>Date(s)</h4>
                                    <div class="o-gr">
                                        <div class="c-concert-date o-grid"><!--
                                                    -->
                                            <div class="c-concert-date__date o-grid__unit o-grid__unit--medium-3of10 o-grid__unit--small-5of10">
                                                <date class="">

                                                    18/04/2019

                                                </date>
                                            </div><!--
                                                    -->
                                            <div class="c-concert-date__date o-grid__unit o-grid__unit--medium-3of10 o-grid__unit--small-5of10">
                                                <span>20:00</span>
                                            </div><!--
                                                    -->
                                            <div class="c-concert-date__date o-grid__unit o-grid__unit--medium-4of10">

                                                Auditorium - Lyon (France)

                                            </div><!--
                                                --></div>
                                        <div class="c-concert-date o-grid"><!--
                                                    -->
                                            <div class="c-concert-date__date o-grid__unit o-grid__unit--medium-3of10 o-grid__unit--small-5of10">
                                                <date class="">

                                                    19/04/2019

                                                </date>
                                            </div><!--
                                                    -->
                                            <div class="c-concert-date__date o-grid__unit o-grid__unit--medium-3of10 o-grid__unit--small-5of10">
                                                <span>20:00</span>
                                            </div><!--
                                                    -->
                                            <div class="c-concert-date__date o-grid__unit o-grid__unit--medium-4of10">

                                                Auditorium - Lyon (France)

                                            </div><!--
                                                --></div>

                                    </div>
                                </div>
                            </div><!--
                                -->
                            <div class="o-grid__unit o-grid__unit--medium-6of12">
                                <div class="c-concert-description">
                                    <h4>Description</h4>
                                    <p>Passion St Matthieu - J.S.Bach</p>
                                    <p>Choeur de Chambre de Namur<br>
                                        Riccardo MINASI, direction<br>
                                        SOLISTES<br>
                                        Jane ARCHIBALD – Soprano, Tara ERRAUGHT – Mezzo Soprano,<br>
                                        Ian BOSTRIDGE – Ténor, Mark STONE – Basse, Matthew BUSWELL - Basse<br>
                                        ORCHESTRE NATIONAL de LYON MAÎTRISE de la PRIMATIALE SAINT-JEAN</p></div>
                            </div>
                        </div>
                    </div>
                </li>


                <li class="c-concert-list__item">
                    <div class="c-concert u-black-headings" vocab="http://schema.org/" typeof="MusicEvent">


                        <h3 class="c-concert-title">
                            Requiem de Fauré </h3>

                        <div class="o-grid"><!--
                                -->
                            <div class="o-grid__unit o-grid__unit--medium-6of12">
                                <div class="c-concert-dates">
                                    <h4>Date(s)</h4>
                                    <div class="o-gr">
                                        <div class="c-concert-date o-grid"><!--
                                                    -->
                                            <div class="c-concert-date__date o-grid__unit o-grid__unit--medium-3of10 o-grid__unit--small-5of10">
                                                <date class="">

                                                    02/05/2019

                                                </date>
                                            </div><!--
                                                    -->
                                            <div class="c-concert-date__date o-grid__unit o-grid__unit--medium-3of10 o-grid__unit--small-5of10">
                                                <span>20:00</span>
                                            </div><!--
                                                    -->
                                            <div class="c-concert-date__date o-grid__unit o-grid__unit--medium-4of10">

                                                Aula Magna LLN

                                            </div><!--
                                                --></div>

                                    </div>
                                </div>
                            </div><!--
                                -->
                            <div class="o-grid__unit o-grid__unit--medium-6of12">
                                <div class="c-concert-description">
                                    <h4>Description</h4>
                                    <p>Osel - Orchestre<br>
                                        Choeur des étudiants de l'université de LLN<br>
                                        Aurélie Moreels - Soprano<br>
                                        Philippe Gérard - Direction</p></div>
                            </div>
                        </div>
                    </div>
                </li>


                <li class="c-concert-list__item">
                    <div class="c-concert u-black-headings" vocab="http://schema.org/" typeof="MusicEvent">


                        <h3 class="c-concert-title">
                            Isis - Lully </h3>

                        <div class="o-grid"><!--
                                -->
                            <div class="o-grid__unit o-grid__unit--medium-6of12">
                                <div class="c-concert-dates">
                                    <h4>Date(s)</h4>
                                    <div class="o-gr">
                                        <div class="c-concert-date o-grid"><!--
                                                    -->
                                            <div class="c-concert-date__date o-grid__unit o-grid__unit--medium-3of10 o-grid__unit--small-5of10">
                                                <date class="">

                                                    12/07/2019

                                                </date>
                                            </div><!--
                                                    -->
                                            <div class="c-concert-date__date o-grid__unit o-grid__unit--medium-3of10 o-grid__unit--small-5of10">
                                                <span>20:00</span>
                                            </div><!--
                                                    -->
                                            <div class="c-concert-date__date o-grid__unit o-grid__unit--medium-4of10">

                                                Beaune (France)

                                            </div><!--
                                                --></div>

                                    </div>
                                </div>
                            </div><!--
                                -->
                            <div class="o-grid__unit o-grid__unit--medium-6of12">
                                <div class="c-concert-description">
                                    <h4>Description</h4>
                                    <p>Isis de Lully</p>
                                    <p>Choeur de Chambre de Namur<br>
                                        Christophe Rousset - Direction</p></div>
                            </div>
                        </div>
                    </div>
                </li>

            </ul>
        </section>

    </main>
{% endblock %}