---
permalink: biography.html
slug: 'biography'
---

{% extends "layouts/base.njk" %}
{% block content %}
    <main class="main page-wrapper page-biography o-page u-position-relative" role="main">
        <h2 class="c-page-title">
            Biographie </h2>
        <section class="biography__parts">
            <div class="c-biography-part part-1">
                <div class="c-biography-part__text">
                    <div><p>Aurélie s’intéresse très tôt à la musique et commence l’apprentissage de la flûte à bec à
                            l’âge de 6 ans.<br>
                            Elle commencera le chant à 9 ans avec Daniel Lipnik et vivra ses
                            premières expériences au sein d'un choeur d'adultes à 13 ans. C'est deux
                            ans plus tard qu'elle fera ses premiers pas en tant que soliste en
                            Belgique.</p></div>
                </div>
                <div class="c-biography-part__image">
                    <img src="/img/img_0473-714323c5a9b8b7bec9d8f0a2c2092320.jpg"
                         alt="img_0473-714323c5a9b8b7bec9d8f0a2c2092320"></div>
            </div>
            <div class="c-biography-part part-2">
                <div class="c-biography-part__text">
                    <h3 class="c-biography-part__title">La formation</h3>
                    <div><p>En 2010, elle
                            termine son Master en chant avec grande distinction au Conservatoire
                            Royal de Musique de Bruxelles et est récompensée par le prix Alice
                            Tyckaert. Elle y suit des cours de chant avec Marcel Vanaud. Durant son
                            parcours, elle reçoit également l’enseignement, entre autres, de Céline
                            Scheen, Nadine Denize, Thibaut Lenaerts et Christine Solhosse.<br>
                            Elle se forme également à la musique ancienne sous l'oreille attentive de Bernard
                            Woltèche.<br>
                            En 2008, elle remporte le second prix « Jacques Dôme » à Verviers.</p></div>
                </div>
                <div class="c-biography-part__image">
                    <img src="/img/206302_1049689996158_1715_n-ae4be3aebd6ab463bdc4cd3e10c51f89.jpg"
                         alt="206302_1049689996158_1715_n-ae4be3aebd6ab463bdc4cd3e10c51f89"></div>
            </div>
            <div class="c-biography-part formation-2">
                <div class="c-biography-part__text">
                    <div><p>Aurélie commence
                            sa carrière par des prestations solistes dans le domaine de l’oratorio.
                            En effet, elle s’est distinguée dans le Requiem, la Messe en Ut mineur,
                            La Messe en Ut (KV 317), l’Exsultate, Jubilate, les Vêpres Solennelles
                            d’un confesseur de W.A.Mozart ; le Gloria, Magnificat, Beatus vir,
                            Laudate Pueri de Vivaldi ; le Magnificat, Weihnachts-Oratorium, les
                            Passions de Bach ; le Dixit Dominus, Laudate Pueri Dominum de Haendel ;
                            L’Oratorio de Noël de Saint-Saens ; la Messe de Minuit de Charpentier ;
                            ...</p>
                        <p>En parallèle de ses études, la jeune soprano interprète les rôles de :</p>
                        <p>Belinda (Didon et Enée), H.Purcell ;<br>
                            Cupid et Venus (King Arthur), H.Purcell ;<br>
                            La princesse (L’enfant et les Sortillèges) , M.Ravel (mise en scène de Marianne Pousseur)
                            ;<br>
                            Papagena (La flûte enchantée), W.A.Mozart (dir. E.Rasquin sur la scène
                            de l’Opéra Royal de Wallonie et l’Opéra de Rouen Haute Normandie, mise
                            en scène de C.Servais) ;<br>
                            La princesse (La Forêt bleue) , L-F.Aubert, à l’Opéra Royal de Wallonie ;</p></div>
                </div>
                <div class="c-biography-part__image">
                    <img src="/img/img_0290_1-d4f537ed31d8b0c7a438639936678c03.jpg"
                         alt="img_0290_1-d4f537ed31d8b0c7a438639936678c03"></div>
            </div>
            <div class="c-biography-part part-3">
                <div class="c-biography-part__text">
                    <h3 class="c-biography-part__title">Aujourd'hui</h3>
                    <div><p>Aurélie continue à se produire essentiellement en Belgique et en France.<br>
                            Elle interprète des oeuvres telles que </p>
                        <ul>
                            <li>le Stabat Mater de G.B.Pergolesi au Palais des Beaux-Arts de Bruxelles.</li>
                            <li>Leonore (L’Amant jaloux), A.Grétry ;</li>
                            <li>Eurydice (Orphée aux enfers), J.Offenbach.</li>
                            <li>Königing der Nacht (Zauberflöte), W.A.Mozart</li>
                            <li>Mme Herz (Der Schauspieldirektor), W.A.Mozart</li>
                            <li>1 Sénatrice (Eliogabalo), F.Cavalli à l'Opéra Garnier de Paris<br>
                                ...<br>
                                Sous la direction de chefs tels que Léonardo Garcia Alarcon, David
                                Miller, Guy van Waas, E.Rasquin, Patrick Davin, Jérôme Correas, J-C
                                Malgoire, Ton Koopman, Christian Arming, R.Geubel…
                            </li>
                        </ul>
                        <p>Elle chante également avec le Choeur de Chambre de Namur depuis
                            plusieurs années ce qui lui donne la possibilité d'approfondir ses
                            connaissances en musique ancienne.</p></div>
                </div>
                <div class="c-biography-part__image">
                    <img src="/img/206302_1049689996158_1715_n-77589d6b67f41691ac24a22475561f13.jpg"
                         alt="206302_1049689996158_1715_n-77589d6b67f41691ac24a22475561f13"></div>
            </div>
        </section>
    </main>

{% endblock %}