.c-header{
  @extend .o-page;
  @extend .clearfix;

  margin-top: $inuit-base-spacing-unit--large;
  margin-bottom: $inuit-base-spacing-unit--large;
  &--home{
    margin: 0;
  }


  .c-branding{
    @include media-query(lap-and-up){
      float: left;
    }
  }
  .c-nav{
    @include media-query(lap-and-up) {
      float: right;
    }
  }
}