$inuit-sidebar-namespace:       $inuit-namespace !default;
$sidebar-width: 8rem;

.#{$inuit-sidebar-namespace}sidebar,
%#{$inuit-sidebar-namespace}sidebar {
  width: $sidebar-width;
  position: fixed;
  top:0;
  right:0;
  height: 100%;
}