.c-biography-part{
  position: relative;
  min-height: 600px;

  &__title{
    color: $black;
  }
  &__text{
    @extend .o-box;
    @extend .o-box--white;
    @extend .o-box--large;
    margin: $inuit-base-spacing-unit;
    @include media-query('lap-and-up') {
      margin: 0;
      width: 50%;
      position: absolute;
      z-index: 2;
      top:50%;
      transform: translate(0,-50%);
    }
  }
  &__image{

    @include media-query ('lap-and-up') {
      @extend .o-shadow;
      width: 60%;
      position: absolute;
      top: 50%;
      transform: translate(0,-50%);
    }
    z-index: 1;

    img{
      width: 100%;
    }
  }

  &:nth-child(2n+1) {
    .c-biography-part__text{
      right:0;
    }
    .c-biography-part__image{
      left: 0;
    }
  }
  &:nth-child(2n) {
    .c-biography-part__text{
      left: 0;
    }
    .c-biography-part__image{
      right: 0;
    }
  }
}