.c-contact-page{
  min-height: 600px;
  overflow: hidden;
  > .c-page-title{
    @include media-query(lap-and-up){
      display: none;
    }
  }
}
.c-contact{
  @extend .o-box;
  @extend .o-box--white;
  margin: 1rem;
  @include media-query(lap-and-up){
    @extend .o-box--large;
    width: 60%;
    padding-top: double($inuit-base-spacing-unit--large);
    margin: double($inuit-base-spacing-unit--large) auto;
    left: 0;
  }
  z-index: 2;
  position: relative;
  > .c-page-title{
    display: none;
    margin: 0;
    @include media-query(lap-and-up){
      display: block;
    }
  }
}
.c-contact-image{
  @include media-query(lap-and-up) {
    position: absolute;
    width: 45%;
  }
  img{
    width: 100%;
  }
  &--lefttopimage{
    display: none;
    @include media-query(lap-and-up) {
      display: block;
    }
    left:0;
    bottom:0;
  }
  &--rightbottomimage{
    right:0;
    top:0;
  }
}
