$color-neutral2 : $white;
$color-neutral6 : $light-green;
$color-brand-main4 : $white;
$color-brand-main2: $light-gray;
$color-brand-alt4: $medium-green;
$icon-length: 7px;

.headernav
{
  list-style: none;
  margin: 0;
  padding: 0 $inuit-base-spacing-unit;
  clear: both;
}

.headernav__item
{
  display: block;
  border-bottom: 1px solid $color-neutral2;

  &:first-child
  {
    // clear:both; and animations prevents the padding from being on the list
    padding-top: 1em;
  }

  &:last-child
  {
    border: none;
  }

}

.headernav__item > a
{
  display: block;

  padding: 1.25em 0;
  background: url(../images/bkg_headernav_arrow.svg) 100% 50% no-repeat;

  //font-family: $fontstack-main;
  text-decoration: none;

  color: $color-brand-main4;

  transition: all 0.2s ease-in-out;

  &:hover
  {
    color: $color-neutral6;
    text-decoration: none;
  }
}



.headernav__item--current > a, .headernav__item--current > a:hover
{
  color: $color-brand-main2;
}

// =medium and large screens
// -------------------------------------

// =medium and large screens
// -------------------------------------

@include mq(medium)
{
  .headernav
  {
    float: right;
    clear: none;
    padding: 0;
  }

  .headernav__item
  {
    display: inline-block;
    border-bottom: none;

    &:first-child
    {
      padding-top: 0;
    }
  }

  .headernav__item > a
  {
    display: inline-block;
    padding: 1.25em 1.5em;
    background: none;
  }

  .headernav__item--contact > a
  {
    margin-left: 1.25em;
    padding-left: 2.5em;
    padding-right: 2.5em;
    border-radius: 0.2em;

    background-color: $color-brand-main4;
    color: #fff;

    transition: all 0.2s ease-in-out;

    &:hover
    {
      background-color: mix(#fff, $color-brand-alt4, 10%);
      color: #fff;
    }
  }
}

// -------------------------------------
// =navigation compact
// -------------------------------------

.headernav-compact
{
  margin: 0;
  padding: 0;
  position: absolute;
  right: $inuit-base-spacing-unit;
  top:$inuit-base-spacing-unit
}

.headernav-compact > a
{
  display: block;
  margin: 0;
  padding: 0.7em 0;
}

.headernav-compact svg
{
  display: block;
  fill: $white;
}

// -------------------------------------
// =nav visibility (default)
// -------------------------------------

.headernav
{
  display: none;

  @include media-query(desk)
  {
    display: block;
  }
}

.headernav-compact
{
  display: block;

  @include media-query(desk)
  {
    display: none;
  }
}

// -------------------------------------
// =nav visibility (js)
// -------------------------------------

//@include mq(under-medium)
@include media-query(portable)
{
  .js-nav-hidden .headernav, .js-nav-visible .headernav
  {
    display: block;
    overflow: hidden;
    transition: max-height 0.4s ease-in-out;
  }

  .js-nav-hidden .headernav
  {
    max-height: 0;
  }

  .js-nav-visible .headernav
  {
    //magic number: has to be equal to the height of the menu
    max-height: 19.75em;
  }
}


// -------------------------------------
// =icon animations
// -------------------------------------


@keyframes closeTop
{
  0%
  {
    transform: translate3d(0,0,0)
    rotate(0);
  }
  49%
  {
    transform: translate3d(0, $icon-length,0)
    rotate(0);
  }
  100%
  {
    transform: translate3d(0, $icon-length,0)
    rotate(45deg);
  }
}

@keyframes openTop
{
  0%
  {
    transform: translate3d(0, $icon-length,0)
    rotate(45deg);
  }
  49%
  {
    transform: translate3d(0, $icon-length,0)
    rotate(0);
  }
  100%
  {
    transform: translate3d(0,0,0)
    rotate(0);
  }
}

@keyframes closeBottom
{
  0%
  {
    transform: translate3d(0,0,0)
    rotate(0);
  }
  49%
  {
    transform: translate3d(0,-$icon-length,0)
    rotate(0);
  }
  100%
  {
    transform: translate3d(0,-$icon-length,0)
    rotate(-45deg);
  }
}

@keyframes openBottom
{
  0%
  {
    transform: translate3d(0,-$icon-length,0)
    rotate(-45deg);
  }
  49%
  {
    transform: translate3d(0,-$icon-length,0)
    rotate(0);
  }
  100%
  {
    transform: translate3d(0,0,0)
    rotate(0);
  }
}

.icon-mainnav__top, .icon-mainnav__bottom
{
  transform-origin: 50% 50%;
}

.js-is-closed
{
  .icon-mainnav__top
  {
    animation: 0.25s closeTop forwards;
  }

  .icon-mainnav__middle
  {
    transition: all 0.25s ease-in-out;
    opacity: 0;
  }

  .icon-mainnav__bottom
  {
    animation: 0.25s closeBottom forwards;
  }
}

.js-is-open
{
  .icon-mainnav__top
  {
    animation: 0.25s openTop forwards;
  }

  .icon-mainnav__middle
  {
    transition: all 0.25s ease-in-out;
    opacity: 1;
  }

  .icon-mainnav__bottom
  {
    animation: 0.25s openBottom forwards;
  }
}