.#{$inuit-box-namespace}box--white,
%#{$inuit-box-namespace}box--white {
  background: $white;
}
.#{$inuit-box-namespace}box--primary,
%#{$inuit-box-namespace}box--primary {
  background: $medium-green;
}
.#{$inuit-box-namespace}box--secondary,
%#{$inuit-box-namespace}box--secondary {
  background: $light-green;
}