///* ========================================================================
//   #GLOBAL
//   ======================================================================== */

// The global settings file contains any project-wide variables; things that
// need to be made available to the entire codebase.



// Standardise some UI treatments.

$global-radius: 3px !default;
$global-transition: all 300ms ease-in-out !default;

$font-body : "proxima-nova",sans-serif;
$font-title : 'Raleway','Helvetica Neue','sans-serif';

$color-white:#fefefa;
$color-red : #D83D19;
$color-black : #222220;
$color-dark-gray : lighten($color-black,30%);
$color-medium-gray: #E5E5E5;
$color-light-gray: #F8F8FA;
$color-light-green: #789B41;
$color-medium-green: #537C06;
$color-dark-green: #265900;