<!--
<header class="c-header c-header--home" role="banner">
    <nav class="c-header__nav">
        <ul class="c-header-links">
            <li class="c-menu__item headernav__item headernav__item--current">
                <a class="c-menu__link is-active" href="/">Accueil</a>
            </li>
            <li class="c-menu__item headernav__item ">
                <a class="c-menu__link " href="/agenda.html">Agenda</a>
            </li>
            <li class="c-menu__item headernav__item ">
                <a class="c-menu__link " href="/biography.html">Biographie</a>
            </li>
            <li class="c-menu__item headernav__item ">
                <a class="c-menu__link " href="/media.html">Medias</a>
            </li>
            <li class="c-menu__item headernav__item ">
                <a class="c-menu__link " href="/contact.html">Contact</a>
            </li>
        </ul>
    </nav>
</header>
-->