<div class="l-hero o-wrapper">
    <h1 class="l-hero__brand c-branding">
        <a href="" class="c-branding__link">
            <div class="c-branding__name">
                Aurélie Moreels
            </div>
            <div class="c-branding__instrument">
                Soprano
            </div>
        </a>
    </h1>
    <div class="l-hero__image">
        {% img 'biography', 'img_3.jpg',{} %}
    </div>
</div>