<div class="l-hero o-wrapper">
    <div class="l-hero__brand">
        <h1 class="c-branding">
            <a href="" class="c-branding__link">
                Aurélie <span class="c-branding__name">Moreels</span>
            </a>
        </h1>
        <p>
            Aurélie est une <strong>soprano</strong> belge dont le site est en construction…
        </p>
    </div>

    <div class="l-hero__image">

    </div>
    <div class="l-hero__copyright">
        &#169 Aurelie Moreels 2020
    </div>
</div>